<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoguo.mapper.PhotoAlbumDetailMapper">
  <resultMap id="BaseResultMap" type="com.guoguo.bean.PhotoAlbumDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="album_id" jdbcType="INTEGER" property="albumId" />
    <result column="photo_title" jdbcType="VARCHAR" property="photoTitle" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_operator" jdbcType="VARCHAR" property="createOperator" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, album_id, photo_title, pic_url, sort, is_del, create_date, create_operator, update_date, 
    update_operator
  </sql>
  <select id="selectByExample" parameterType="com.guoguo.bean.PhotoAlbumDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from photo_album_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from photo_album_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from photo_album_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.guoguo.bean.PhotoAlbumDetail" useGeneratedKeys="true">
    insert into photo_album_detail (album_id, photo_title, pic_url, 
      sort, is_del, create_date, 
      create_operator, update_date, update_operator
      )
    values (#{albumId,jdbcType=INTEGER}, #{photoTitle,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{isDel,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createOperator,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.guoguo.bean.PhotoAlbumDetail" useGeneratedKeys="true">
    insert into photo_album_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="albumId != null">
        album_id,
      </if>
      <if test="photoTitle != null">
        photo_title,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createOperator != null">
        create_operator,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateOperator != null">
        update_operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="albumId != null">
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="photoTitle != null">
        #{photoTitle,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        #{updateOperator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guoguo.bean.PhotoAlbumDetailExample" resultType="java.lang.Long">
    select count(*) from photo_album_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.guoguo.bean.PhotoAlbumDetail">
    update photo_album_detail
    <set>
      <if test="albumId != null">
        album_id = #{albumId,jdbcType=INTEGER},
      </if>
      <if test="photoTitle != null">
        photo_title = #{photoTitle,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null">
        create_operator = #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        update_operator = #{updateOperator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guoguo.bean.PhotoAlbumDetail">
    update photo_album_detail
    set album_id = #{albumId,jdbcType=INTEGER},
      photo_title = #{photoTitle,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_operator = #{createOperator,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_operator = #{updateOperator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>